 <head>
    <title>day2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    #carousel-inner{
        align="center"
    }
    </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CAR SUPERMARKET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="main">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<!------ Include the above in your HEAD tag ---------->

<link href="static/css/style.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">

							<div class="about-title clearfix">
								<h1>About <span>CarSuperMarket</span></h1>
								<h3>CarSuperMarket is a online used car supermarket that provides car sales and services. </h3>
								<p class="about-paddingB">Our aim is to supply high quality cars, at prices that are checked daily to ensure they remain competitive, whilst delivering a great service and experience that keeps our customer retention rate as high as possible.We have over 3,000 cars in group stock and sell over 1600 cars a month. Our plan is to increase these numbers over the next 3-5 years to establish ourselves as one of the UK's largest and most successful car supermarkets. </p>
								<p>send an email to carsupermarket@gmail.com We'll be sharing, news, updates  on various social media outlets so make sure you follow us and keep in touch.</p>
						<div class="about-icons">
                            <ul >
                                <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                                <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                                <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                                <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                            </ul>



	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>
                    </div>
                </div>
            </div>